*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100%;
    height:100%;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    flex-direction:column;
}
#logo{
    width:250px;
}
h1{
    color:aliceblue;
    font-family:sans-serif;
}
#name{
    color:rgb(212, 43, 122); 
    font-size:45px;
}
#va{
    color:rgb(43, 206, 212); 
    font-size:45px;
}
#voice{
    height:200px;
    width:200px;
    display:none;
}
#mic{
    height:20px;
    width:20px;
}
#btn{
    width:30%;
    background: linear-gradient(to right,rgb(21, 145, 207),rgb(201, 41, 116));
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    font-size:20px;
    border-radius:20px;
    color:white;
    box-shadow:2px 2px 10px rgb(21, 145, 207),2px 2px 10px rgb(21, 145, 207);
    border:none;
    cursor:pointer;
}
#btn:hover{
    box-shadow:2px 2px 20px rgb(21, 145, 207),2px 2px 20px rgb(21, 145, 207);
    letter-spacing:2px;
}